@import "tailwindcss";

@theme {
  --color-surface: #f8f9ff;
  --color-surface-dim: #cbdbf5;
  --color-surface-low: #eff4ff;
  --color-surface-container: #e5eeff;
  --color-surface-high: #dce9ff;
  --color-surface-highest: #d3e4fe;
  --color-surface-white: #ffffff;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #45464d;
  --color-outline: #76777d;
  --color-outline-variant: #c6c6cd;
  --color-primary: #000000;
  --color-on-primary: #ffffff;
  --color-primary-container: #131b2e;
  --color-secondary: #0058be;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #2170e4;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-success: #009668;
  --color-warning: #f59e0b;

  --font-sans: "Inter", system-ui, sans-serif;

  --radius-sm: 0.125rem;
  --radius-DEFAULT: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f9ff;
  color: #0b1c30;
  font-family: "Inter", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

